<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Sobre</title>
</head>

<body>
<div style="padding-left: 25px; padding-right: 30px;">
    <h2>Laboratorio de Sismologia IAG-USP</h2>
    <br/>
    <h3>Missao:</h3>
    <br/>
    <li  class="getting_started">
    i) Monitorar a atividade sísmica de todo o Brasil com localização
    de epicentros e determinação de magnitudes em tempo real, 
    emitindo alertas e boletins para esclarecimento da população, e 
    fornecimento de dados iniciais às autoridades, defesa civil, e imprensa.
	</li>
    <br/><br/>
	<li  class="getting_started">
	ii) Fornecer dados de forma de onda (sismogramas) em tempo real de acesso livre 
	a qualquer pesquisador brasileiro incentivando a pesquisa científica e 
	o maior conhecimento da sismicidade do Brasil, do nível de risco sísmico, e 
	da estrutura da crosta e manto superior.
	</li>
    <br/><br/>
	<li  class="getting_started">
	iii) Gerenciar um banco de dados sismológicos do Brasil, 
	emitindo boletins sísmicos em tempo real com os sismos ocorridos no território brasileiro e 
	regiões vizinhas, em conjunto com as outras instituições e redes sismológicas do Brasil.
	</li>
</div>

<div id="output"></div>


</body>
</html>
