<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Sobre</title>
</head>

<body>
<div style="padding-left: 25px; padding-right: 30px;">
    <h1>Centro de Sismologia (IAG / IEE - USP)</h1>
    <br/>
    <h3>Missão:</h3>
    <br/>
    <li  class="getting_started">
    i) Monitorar a atividade sísmica de todo o Brasil com localização
    de epicentros e determinação de magnitudes em tempo real, 
    emitindo alertas e boletins para esclarecimento da população, e 
    fornecimento de dados iniciais às autoridades, defesa civil e imprensa.
	</li>
    <br/><br/>
	<li  class="getting_started">
	ii) Fornecer dados de forma de onda (sismogramas) em tempo real de acesso livre 
	a qualquer pesquisador brasileiro incentivando a pesquisa científica e 
	o maior conhecimento da sismicidade do Brasil, do nível de risco sísmico, e 
	da estrutura da crosta e manto superior.
	</li>
    <br/><br/>
	<li  class="getting_started">
	iii) Manter e gerenciar um banco de dados sismológicos, 
	emitindo boletins sísmicos em tempo real com os sismos ocorridos no Brasil e 
	regiões vizinhas, em conjunto com a Rede Sismográfica Brasileira.
	</li>
    <br/><br/>
	<li  class="getting_started">
	iv) Integrar, cooperar e colaborar com outras instituições de pesquisa em sismologia 
	nacional e internacionalmente, incentivando a formação de novos grupos de pesquisa em
	sismologia.
	</li>

    <br/>
    <h3>Contato:</h3>
    <p class='getting_started'>
        <b>Centro de Sismologia (IAG / IEE - USP)</b><br/>
        Instituto de Astronomia, Geofisica e Ciencias Atmosféricas<br/>
        <!-- Instituto de Energia e Ambiente - IEE<br/> -->
        Rua do Matão, 1226<br/>
        Cidade Universitaria, São Paulo, SP<br/>
        CEP 05.508-020<br/>
        Fone 55-11-3091-4766<br/>
        <a href='mailto:sismologia@iag.usp.br'>sismologia@iag.usp.br</a>

        <br/><br/>
        
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                src="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=IAG+USP,+SP,+Brasil&amp;ie=UTF8&amp;t=h&amp;cid=-23559578,-46734441,2792020415097680158&amp;s=AARTsJoAxIEalZFaz0J3Hs2fqPfhcYXZqQ&amp;ll=-23.559424,-46.734188&amp;spn=0.006884,0.00912&amp;z=16&amp;output=embed">
        </iframe>
        <br />

        <small class='text-align:right;'>
            <a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=rua+do+matao+1226,+sp+brazil&amp;sll=37.0625,-95.677068&amp;sspn=44.52365,74.443359&amp;ie=UTF8&amp;ll=-23.549589,-46.730261&amp;spn=0.006324,0.009087&amp;t=h&amp;z=14&amp;iwloc=addr&amp;source=embed">Veja o mapa maior</a>
        </small>
        
    </p>


</div>

<div id="output"></div>


</body>
</html>
