<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Aviso / Disclaimer</title>
</head>

<body>
<div style="padding-left: 25px; padding-right: 30px;">
    <h1>Aviso / Disclaimer</h1>
    <br/>
    <h3></h3>
    <br/>
    <p  class="getting_started">
	Parte dos eventos disponibilizados na listagem do portal provém de determinações automáticas e preliminares. Possuem um sinal 'A' indicativo.
Esses eventos podem conter erros e até mesmo não existirem de fato como são reportados. O Centro de Sismologia não se responsabiliza pelo uso indevido dessas informações.
    <br/><br/>
	Os eventos com o sinal indicativo 'M' passaram por alguma revisão manual e confiáveis. O fato de serem confiáveis não os exime de imprecisões ou divergências com 
valores apresentados por outras entidades ou agências. Todos os eventos possuem uma página com informações detalhadas sobre os valores e dados usados para a determinação
dos parâmetros hipocentrais e de magnitude. A listagem dos eventos não deve ser tomada em absoluto, ignorando as informações de processamento, uma vez que sem elas não é possível reproduzir
a obtenção dos mesmos resultados. O Centro de Sismologia não se responsabiliza pelo uso indiscriminado de sua listagem de eventos.
    <br/><br/>
	São considerados sismos brasileiros (e vão para o Boletim Sísmico Brasileiro) sismos cujo epicentro esteja localizado no interior do polígono representativo do território nacional, adicionado
a Zona de Influência Econômica de 200 milhas no mar. O efeito de tremores ocorridos fora dessa área podem ser sentidos no território nacional.
    <br/><br/>
	Na listagem dos sismos brasileiros, o nome da localidade é escolhido arbitrariamente como sendo a cidade (base de cidades do IBGE) mais próxima da origem (epicentro) preferencial.
	É importante considerar além dos erros de determinação de parâmetros (influenciado principalmente pela disponibilidade de dados, indicada nos detalhes do evento) que um sismo ocorrido 
por exemplo no território do PA, possa estar mais perto de uma cidade no MT. Outras agências, por utilizarem dados diferentes, podem nomear diferentes localidades para o mesmo evento sísmico.
O Centro de Sismologia, não se compromete a apresentar os mesmos nomes de localidades que outras agências, principalmente por se tratarem de decisões dos analistas, e no caso do Centro de Sismologia, 
de uma nomenclatura automática.
    </p>

<script>
function goBack() {
    window.history.back()
}
</script>

<button onclick="goBack()">retornar</button>


</div>

<div id="output"></div>

</body>
</html>
