<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html"/>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <title>Sismologia-USP</title>

    <link rel="stylesheet" href="${url('/')}js/leaflet.css" />
    <script src="${url('/')}js/leaflet.js"></script>

    <!--<link rel="stylesheet" type="text/css"-->
          <!--href="${url('/resources/tw2.jqplugins.ui/static/jquery/ui/1.8.23/css/smoothness/jquery-ui.css')}" media="all"/>-->

    <!--<script type="text/javascript" src="${url('/resources/tw2.jquery/static/jquery/1.8.0/jquery.js')}"></script>-->
    <!--<script type="text/javascript"-->
            <!--src="${url('/resources/tw2.jqplugins.ui/static/jquery/ui/1.8.23/js/jquery-ui.js')}"></script>-->

    <!--<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyAnoSK2eAZ-aaXYnvMOaTesb9WyYGra1ik&amp;sensor=false"-->
            <!--type="text/javascript"></script>-->

    <script type="text/javascript">
    //<![CDATA[
    ${geojson}
    ${geojson_l}
    //]]>
    </script>

</head>

<!--<body  onload="loadMapGadget();" onunload="GUnload()">-->
<body>
<!-- ${sidebar_top()} -->
<div id="getting_started" style="padding-left: 10px; padding-right: 0px;">

    <table width="100%">
        <tr>
            <td valign="top">

		    <br/>

		    <!--
                <table cellpadding="0" cellspacing="0">
                    <tr style="background-color: #fcb421; color:#000000; height: 10px;"><td>
                        <h2 >&nbsp;10-09-2014: Deslizamento em mineradora de Itabirito, MG</h2>
                    </td></tr>
                    <tr style="background-color: #1094ab; height: 4px;"><td>
                        &nbsp;
                    </td></tr>
                    <tr>
                        <td>
                            <p>


                                <a target="_blank" href="${url('/pdf')}/20140911_landslide_itabirito.pdf">
                                    <img style="width: 420px; float: right; padding: 4px;" src="${url('/images')}/20140911_landslide_itabirito.png" alt=""/>
                                </a>


O deslizamento de terra ocorrido com o rompimento da barragem de rejeito da Mineração Herculano no município de Itabirito, MG, gerou vibrações na forma de <a target="_blank" href="http://goo.gl/xics59">ondas de superfície</a> que foram registradas em toda a 
<b>Rede Sismográfica do Brasil (RSBR)</b>, até mesmo em estações no Amazonas a mais de 3000 km de distância!!
<br/><br/>
As figura ao lado apresenta os registros das ondas sísmicas cujo período de oscilação varia entre 20 e 30 segundos!
<br/><br/>
Os registros destas ondas correspondem a uma <font color='red'><b>magnitude 3.0</b></font> na escala Richter e indicam que as ondas se iniciaram aproximadamente as <font color='red'><b>07:45 (BRT)</b></font>.
<br/><br/>
A RSBR é mantida pela parceria entre USP, UnB, ON, UFRN e colaboradores.
<br/><br/>
Confira o <a target="_blank" href="${url('/pdf')}/20140911_landslide_itabirito.pdf">informe</a>.
                            </p>
                        </td>
			    </tr>
			</table>

			-->

                <!--  <h1>Centro de Sismologia - USP</h1> -->

                <h3>Boletim Sísmico Brasileiro</h3>
                <table>
                    <tr>
                        <td>
                        </td>
                        <td valign="top">
                            <p>
                                <a href="${tg.url('/events')}">
                                    <img style="width: 200px;float: left; padding: 4px;" src="${url('/images')}/sismos.jpg" alt=""/>
                                </a>
                                <big>
                                    Atualmente o Centro de Sismologia da USP
                                    utiliza sistemas de detecção automática de tremores de terra,
                                    somado à experiência de seus analistas, no refinamento e melhoria dos
                                    resultados automáticos.
                                    <br/><br/>
                                    Você encontra <a href="${tg.url('/events')}">aqui</a> informações atualizadas
                                    continuamente
                                    sobre os tremores de terra registrados no Brasil e os maiores da America Latina.
                                    <br/><br/>
									E <a href="${tg.url('/events#catalog')}">aqui</a> estão as diferentes versões 
									da compilação conjunta de catálogos com explicações para <i>download</i> 
									e há também uma animação com a ocorrência dos eventos entre 1960-2013.
                                </big>
                            </p>
                        </td>
                    </tr>
                </table>


                <h3>Estações Sismográficas</h3>

                <table>
                    <tr>
                        <td valign="top">
                        </td>
                        <td>
                            <p>
                                <a href="${tg.url('/stations')}">
                                    <img style="width: 200px; float: right; padding: 4px;" src="${url('/images')}/stations.jpg" alt=""/>
                                </a>
                                <big>
                                    O Centro de Sismologia da Universidade de São Paulo, originado pela parceria
                                    entre o Instituto de Astronomia, Geofísica e Ciências Atmosféricas (IAG) e o
                                    Instituto de Energia e Ambiente (IEE),
                                    mantém a parte Sul e Sudeste (correspondente à rede BRASIS) da Rede Sismográfica Brasileira em
                                    conjunto com outros experimentos sismológicos temporários e estudos regionais.
                                    <br/><br/>
                                    Todos os dados adquiridos nas operações do Centro, bem como
                                    parte do controle de qualidade se encontra disponível <a href="${tg.url('/stations')}">aqui</a>.
                                </big>
                            </p>
                        </td>
                    </tr>
                </table>

                <h3>Sismogramas</h3>
                <table>
                    <tr valign="top">
                        <td>
                        </td>
                        <td>
                            <p>
                                <a href="${tg.url('/waveform')}">
                                    <img style="width: 150px;float: left; padding: 4px;" src="${url('/images')}/waveform.jpg" alt=""/>
                                </a>
                                <big>
                                    O Centro de Sismologia da USP,
                                    adquiriu dados sismológicos na maior parte do Brasil,
                                    prezando enormemente pela qualidade das instalações.
                                    <br/><br/>
                                    Todos os dados sismológicos sob os cuidados do Centro de Sismologia da USP,
                                    podem ser solicitados diretamente <a href="${tg.url('/waveform')}">aqui</a>.
                                </big>
                            </p>
                        </td>
                    </tr>
                </table>

            </td>

            <td width="40%" valign="top">
                ${events_bsb()}

                ${events_world()}
            </td>

        </tr>
    </table>

    <br/><br/>

    <div class="clearingdiv"/>
</div>
</body>
</html>
