<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html"/>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <title>Sismologia-IAG-USP</title>

    <link rel="stylesheet" href="${url('/')}js/leaflet.css" />
    <script src="${url('/')}js/leaflet.js"></script>

    <!--<link rel="stylesheet" type="text/css"-->
          <!--href="${url('/resources/tw2.jqplugins.ui/static/jquery/ui/1.8.23/css/smoothness/jquery-ui.css')}" media="all"/>-->

    <!--<script type="text/javascript" src="${url('/resources/tw2.jquery/static/jquery/1.8.0/jquery.js')}"></script>-->
    <!--<script type="text/javascript"-->
            <!--src="${url('/resources/tw2.jqplugins.ui/static/jquery/ui/1.8.23/js/jquery-ui.js')}"></script>-->

    <!--<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyAnoSK2eAZ-aaXYnvMOaTesb9WyYGra1ik&amp;sensor=false"-->
            <!--type="text/javascript"></script>-->

    <script type="text/javascript">
    //<![CDATA[
    ${geojson}
    ${geojson_l}
    //]]>
    </script>

</head>

<!--<body  onload="loadMapGadget();" onunload="GUnload()">-->
<body>
<!-- ${sidebar_top()} -->
<div id="getting_started" style="padding-left: 10px; padding-right: 0px;">

    <table width="100%">
        <tr>
            <td valign="top">

                <h1>Centro de Sismologia (IAG / IEE - USP)</h1>

                <h3>Estações Sismográficas</h3>

                <table>
                    <tr>
                        <td valign="top">
                        </td>
                        <td>
                            <p>
                                <a href="${tg.url('/stations')}">
                                    <img style="width: 200px; float: left; padding: 4px;" src="${url('/images')}/stations.jpg" alt=""/>
                                </a>
                                <big>
                                    O Centro de Sismologia da Universidade de São Paulo, originado pela parceria
                                    entre o Instiuto de Astronomia, Geofísica e Ciências Atmosféricas (IAG) e o
                                    Institudo de Eletrotécnica e Energia (IEE),
                                    mantem a parte Sul e Sudeste da Rede Sismográfica Integrada do Brasil - BRASIS - em
                                    conjunto com outros experimentos sismológicos temporários, ou experimentos de estudos
                                    regionais.
                                    <br/><br/>
                                    Todos os dados adquiridos nas operações do Centro, bem bomo
                                    parte do controle de qualidade se encontra disponível <a href="${tg.url('/stations')}">aqui</a>.
                                </big>
                            </p>
                        </td>
                    </tr>
                </table>

                <h3>Sismogramas</h3>
                <table>
                    <tr valign="top">
                        <td>
                        </td>
                        <td>
                            <p>
                                <a href="${tg.url('/waveform')}">
                                    <img style="width: 150px;float: left; padding: 4px;" src="${url('/images')}/waveform.jpg" alt=""/>
                                </a>
                                <big>
                                    O Centro de Sismologia da USP,
                                    adquiriu dados sismologicos na maior parte do Brasil,
                                    prezando enormemente pela qualidade das instalacoes.<br/><br/>

                                    Todos os dados sismológicos sob os cuidados do Centro de Sismologia da USP,
                                    podem ser solicitados diretamente <a href="${tg.url('/waveform')}">aqui</a>.
                                </big>
                            </p>
                        </td>
                    </tr>
                </table>



                <h3>Boletim Sísmico Brasileiro</h3>
                <table>
                    <tr>
                        <td>
                            <p>
                                <a href="${tg.url('/events')}">
                                    <img style="width: 200px;float: right; padding: 4px;" src="${url('/images')}/sismos.jpg" alt=""/>
                                </a>
                                <big>
                                    Atualmente, o Centro de Sismologia da USP
                                    conta com sistemas de detecção automática de tremores de terra de última geração,
                                    alem da experiencia de seus analistas, no refinamento e melhoria dos
                                    resultados automáticos.
                                    <br/><br/>
                                    Voce encontra <a href="${tg.url('/events')}">aqui</a> informaçõees atualizadas
                                    continuamente
                                    sobre os tremores de terra registrados no Brasil e os maiores da America Latina.
                                </big>
                            </p>
                        </td>
                        <td valign="top">
                        </td>
                    </tr>
                </table>


            </td>

            <td width="40%" valign="top">
                ${events_bsb()}

                ${events_world()}

            </td>

        </tr>
    </table>


    <br/><br/>

    <div class="clearingdiv"/>
</div>
</body>
</html>
