<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
	<title>Estações Sismográficas</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>

    <link rel="stylesheet" href="${url('/')}js/leaflet.css" />
    <script src="${url('/')}js/leaflet.js"></script>
    <!--<script src="${url('/')}js/d3.min.js"></script>-->


    <!--<link rel="stylesheet" type="text/css" href="${url('/')}js/cal-heatmap.css" media="screen" />-->
    <!--<script src="${url('/')}js/cal-heatmap.min.js"></script>-->
    <!--<link rel="stylesheet" type="text/css"-->
          <!--href="${url('/resources/tw2.jqplugins.ui/static/jquery/ui/1.8.23/css/smoothness/jquery-ui.css')}" media="all"/>-->

    <!--<script type="text/javascript"-->
            <!--src="${url('/resources/tw2.jqplugins.ui/static/jquery/ui/1.8.23/js/jquery-ui.js')}"></script>-->

    <!--<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyAnoSK2eAZ-aaXYnvMOaTesb9WyYGra1ik&amp;sensor=false"-->
            <!--type="text/javascript"></script>-->

    <script type="text/javascript" src="${url('/resources/tw2.jquery/static/jquery/1.8.0/jquery.js')}"></script>


	<script type="text/javascript">
    //<![CDATA[
	${json}
	//]]>
	</script>

</head>

  <!--<body onload="loadMapGadget();" onunload="GUnload()">-->
  <body>

  <div id="getting_started">

    <h1>Lista de Estações:</h1>
    		
  	<table width="100%"><tr>
  		<td height="100%">
			<div width="100%" >

                <div id="mapS" style="width: 100%; height:250px;" ></div>

                <script type="text/javascript">
                    //<![CDATA[

                    var mapS = L.map('mapS').setView([-15, -50], 3);

                    L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
                            {attribution:' / <a href="http://www.mapquest.com/" target="_blank">MapQuest</a>'}
                    ).addTo(mapS);

                    var stationIcon = L.icon({
                        iconUrl: "${url('/images')}/station.png",
                        iconSize:     [10, 10]
                    });


                    function onEachFeature(feature, layer) {
                        // does this feature have a property named popupContent?
                        if (feature.properties && feature.properties.desc ) {
                            p = feature.properties;
                            msg = p.net + "." + p.sta + " - " + p.desc;
                            layer.bindPopup(msg);
                        }
                    }

                    //    $.getJSON(geojson,
                    //            function(data){
                    //            });

                    geojsonLayer = L.geoJson(stations_gj,
                            {
                                onEachFeature: onEachFeature,
                                pointToLayer: function (feature, latlng) {
                                    return L.marker(latlng, {icon: stationIcon});
                                }
                            });
                    geojsonLayer.addTo(mapS);

                    //]]>
                </script>

                <!-- 			FALTA: <br />
                                MELHORAR DETALHES !!! <br />
                                filtros para selecionar estacoes<br />
                                link para sismogramas<br />
                                filtro por eventos<br />
                            </div>
                          </td>
                          <td width="50%">
                            <div>
                 -->
                <!--
				FALTA: <br />
				mapa com estacoes<br/>
				filtro por caixa<br />
				filtro por distancia<br />
                -->
			</div>  		
  		</td>
  	</tr></table>

    <table  py:with="cls=cycle(('#ffffff', '#ccebef'))"  width="100%"  style="text-align: center;" >

			${filterForm.display(value=data)}

	        <tr class="table_header" >
	            <td>Rede.Estacao [#Canais]</td>
	            <td>Local</td>
	            <td>Latitude</td>
	            <td>Longitude</td>
	            <td>Elevacao</td>
	            <td>Dataless</td>
	        </tr>
    	
        <py:for each="s in stations">
	        <tr style="background-color: ${cls.next()}">
	            <td style="text-align: center;">
	            	<a href="${url('/stations')}/${s.NN}_${s.SSSSS}" >${s.NN}.${s.SSSSS}.[${s.n_ch}]</a>
	            </td>
	            <td>${s.desc}</td>
	            <td>${s.lat}</td>
	            <td>${s.lon}</td>
	            <td>${s.ele}</td>
				<td>
				<a href="ftp://trovador.iag.usp.br/brasis/SDS/dataless/all/${s.NN}.${s.SSSSS}.dataless">dataless</a>
				</td>
	        </tr>
        </py:for>
    </table>
  </div>
<!--   <div class="clearingdiv" />
  <div class="notice" /> -->
</body>
</html>
